<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:int="http://www.springframework.org/schema/integration"
    xmlns:int-jms="http://www.springframework.org/schema/integration/jms"
    xmlns:amq="http://activemq.apache.org/schema/core"
    xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
     http://www.springframework.org/schema/integration/jms http://www.springframework.org/schema/integration/jms/spring-integration-jms.xsd
     http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core-5.7.0.xsd
    ">

    <amq:connectionFactory id="connectionFactory" brokerURL="vm://theBroker"/>

    <bean id="a" class="rds.springintegration.SlowTransformer" p:delay="250" p:name="A"/>
    <bean id="b" class="rds.springintegration.SlowTransformer" p:delay="250" p:name="B"/>
    <bean id="c" class="rds.springintegration.SlowTransformer" p:delay="250" p:name="C"/>
    <bean id="d" class="rds.springintegration.SlowTransformer" p:delay="250" p:name="D"/>
    <bean id="e" class="rds.springintegration.SlowTransformer" p:delay="250" p:name="E"/>

    <bean id="groupingMessageConverter" class="rds.springintegration.GroupingMessageConverter"/>

    <int-jms:channel id="inbound" queue-name="InboundQueue" message-converter="groupingMessageConverter" concurrency="20"/>

    <int:chain input-channel="inbound" output-channel="outbound">
        <int:transformer ref="a"/>
        <int:transformer ref="b"/>
        <int:transformer ref="c"/>
        <int:transformer ref="d"/>
        <int:transformer ref="e"/>
    </int:chain>

    <int:channel id="outbound">
        <int:queue/>
    </int:channel>

</beans>
